<%= form_with(model: [@post, testimony], local: true) do |form| %>
  <% if testimony.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(testimony.errors.count, "error") %> prohibited this testimony from being saved:</h2>

      <ul>
        <% testimony.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field p-3">
 <p>Enter the testimony below:</p>
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control", style: "height: 150px;" %>
  </div>
<%= form.text_area :post_id, :value => @post.id, hidden: true %>
  <div class="actions p-3">
    <%= form.submit class: "btn btn-outline-primary" %>
  </div>
<% end %>
