<%= link_to 'New post', new_post_path, class: "btn btn-outline-primary" %>
<h1>Prayer</h1>
<div class="row">

    <% @posts.each do |post| %>

<div class="col-4 pb-4">
	<div class="card">
		<div class="card-header">
 			<%= post.title %>
		</div>
		<div class="card-body">
			<%= post.content %>
		</div>
		<div class="card-footer">
			<% if not post.testimony %>
				<%= link_to 'Testify', new_post_testimony_path(post), class: "btn btn-outline-primary" %>
			<% else %>
			<% end %>
			<%= link_to 'Show', post, class: "btn btn-secondary" %>
			<%= link_to 'Edit', edit_post_path(post), class: "btn btn-primary" %>
			<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    
		</div>
		</div>	
	</div>
    <% end %>
	</div>

<br>

